$textColor: #fff;
$secondaryTextColor: #000;

$blue1:  #42A5F5; // Azul Tristeza
$purple2: #AB47BC; // Roxo Medo
$hoverPurple: #7E57C2;
$red: #EF5350; // Vermelho Raiva
$yellow: #FBC02D; // Amarelo Alegria
$green: #66BB6A; // Verde Nojinho


$linkColor: #666; 
$linkHoverColor: #333; 
$titleColor: #333; 



